<!DOCTYPE html>
<html ng-app="npcGen" lang="en-GB">
    <head>
        <title>
            NPC Generator
        </title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="css/friends-icon-192458/friends-icon-32-192458.png">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body ng-controller="mainCtrl">

        <span us-spinner spinner-key="spinner-1"></span>

        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2 well well-red">

                    <button class="btn btn-gold btn-block" 
                            ng-click="initNpcList()">
                        Generate new seed NPC
                    </button> <br>

                    <button ng-click="generateDownloadCSV();" class="btn btn-gold btn-block">Download this NPC</button>

                    <br>

                    <button class="btn btn-gold btn-block" ng-click="toggleAboutMode()">About</button>
                </div>

                <div class="col-xs-5 well well-red col-xs-offset-1">

                    <div id="about" ng-show="aboutMode" class="ink-gold">
                        <p>A web application for generating NPC's for your rpg game.</p>

                        <p>
                            Currently the app supports generating npcs from 3 races: dwarf, elf and halfling.
                        </p>

                        <p>
                            Right now a cool thing to do is generate a start npc, he or she is generated as an adventurer i.e. he/she has a class and attributes generated and
                            then generate the family going back as many generations as your browser can support.
                        </p>

                        <p>
                            Try to think of reasons why your npc is currently a peasant when his/her parents were noble, or why would a noble marry a commoner like your npc parents could have done.
                        </p>

                        <p>
                            Or why is your family's name LowSlayer ?
                        </p>

                        <p>
                            Currently the download button only supports exporting a few fields but this will change soon, also new races and classes will be released.
                        </p>

                        <div class="col-xs-4 ">
                            <button class="btn btn-gold btn-block" ng-click="toggleAboutMode()"> Close About</button>
                        </div>

                    </div>

                    <accordion ng-hide="aboutMode"> 

                        <div class="att-row">
                            <h4 class="ink-gold">{{npc.firstName}} {{npc.lastName}}</h4>
                        </div>

                        <accordion-group heading="Summary" is-open="true">
                            <div class="att-row">
                                Title : {{npc.title}}
                            </div>

                            <div class="att-row">
                                Gender : <span ng-show='npc.sex'>Female</span><span ng-show='!npc.sex'>Male</span>
                            </div>

                            <div class="att-row">
                                Age :  {{npc.age}}
                            </div>

                            <div class="att-row">
                                Race : {{npc.race.name}}
                            </div>
                        </accordion-group>

                        <accordion-group heading="Familly">
                            <div class="att-row">
                                Mother: {{npc.mother.firstName}} {{npc.mother.lastName}} <button class="btn btn-red ink-gold btn-see-more"
                                                                                                 ng-click="addRelative(npc.mother, true)"
                                                                                                 popover-placement="right"
                                                                                                 popover-trigger="mouseenter"
                                                                                                 popover="Generate mother"> <i class="glyphicon glyphicon-plus-sign"> </i> </button>
                            </div>

                            <div class="att-row">
                                Father: {{npc.father.firstName}} {{npc.father.lastName}} <button class="btn btn-red ink-gold btn-see-more" 
                                                                                                 ng-click="addRelative(npc.father, false)"
                                                                                                 popover-placement="right"
                                                                                                 popover-trigger="mouseenter"
                                                                                                 popover="Generate father"> 
                                    <i class="glyphicon glyphicon-plus-sign"> </i> 
                                </button>
                            </div>

                            <div ng-show="npc.siblings.length > 0" class="att-row">
                                Siblings: {{npc.siblings.length}}
                            </div>

                            <div ng-show="npc.siblings.length === 0" class="att-row">
                                Siblings: None
                            </div>

                            <div ng-repeat="sibling in npc.siblings" class="att-row">
                                {{sibling.firstName}} {{sibling.lastName}}, {{sibling.title}} <button class="btn btn-red ink-gold btn-see-more"
                                                                                                      ng-click="addSibling(sibling, $index)"
                                                                                                      popover-placement="right"
                                                                                                      popover-trigger="mouseenter"
                                                                                                      popover="Generate sibling"
                                                                                                      > <i class="glyphicon glyphicon-plus-sign"> </i> </button>
                            </div>
                        </accordion-group>

                        <accordion-group heading="Early Life">
                            <div class="att-row">
                                Home {{npc.homeTown.size.name}} : {{npc.homeTown.name}} 
                            </div>

                            <div class="att-row">
                                Social Status : {{npc.socialRank.name}}   <button class="btn-red ink-gold"
                                                                                  ng-disabled="false"
                                                                                  popover-placement="right"
                                                                                  popover-trigger="mouseenter"
                                                                                  popover="{{getSocialRankDescription(npc.socialRank.rank)}}"
                                                                                  style="float: right;">?</button>
                            </div>
                        </accordion-group>

                        <button class="btn btn-gold btn-block" style="margin-top: 20px" ng-if="npc.attributesList.length === 0"> Generate Attributes</button>

                        <accordion-group heading="Attributes" ng-show="npc.attributesList">

                            <div class="att-row" ng-repeat="att in npc.attributesList">
                                {{att.attributeName}} : <span editable-text="att.attributeValue">{{att.attributeValue}}</span> <button class="btn-red ink-gold"
                                                                                                                                       ng-disabled="false"
                                                                                                                                       popover-placement="right"
                                                                                                                                       popover-trigger="mouseenter"
                                                                                                                                       popover="Can be edited by clicking on the values"
                                                                                                                                       style="float: right;">?</button>
                            </div>
                        </accordion-group>

                        <accordion-group heading="Class" ng-show="npc.attributesList && npc.characterClass">
                            <div class="att-row">
                                Class : {{npc.characterClass.name}}
                            </div>
                        </accordion-group>

                        <accordion-group heading="Events" ng-show="npc.eventList.length > 0">

                            <alert type="success" ng-repeat="event in npc.eventList">
                                {{event.title}}
                                <br/>
                                {{event.text}}
                            </alert>
                        </accordion-group>

                    </accordion>


                </div>

                <div class="col-xs-2 col-xs-offset-1">

                    <div class="well well-red ink-gold">
                        Generated NPCs
                    </div>

                    <div class="well well-red ink-gold" ng-click="switchFocus($index)" 
                         style="cursor: pointer" 

                         ng-repeat="char in npcList track by $index"

                         popover-placement="left"
                         popover-trigger="mouseenter"
                         popover="{{char.title}}">

                        <i class="glyphicon glyphicon-chevron-right" ng-show="$index === npcIndex"> </i>{{char.firstName}} {{char.lastName}}

                    </div>
                </div>
            </div>


        </div>



        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/chance/chance.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="app/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="bower_components/spin.js/spin.js"></script>
        <script src="app/angular-spinner-master/angular-spinner.min.js"></script>
        <script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>


        <script src="app/ngChance.js"></script>
        <script src="app/ngLodash.js"></script>
        <script src="app/npcGenerator.js"></script>
        <script src="app/ngClassServer.js"></script>
        <script src="app/app.js"></script>
    </body>
</html>